* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #4c1d95, #6b21a8, #db2777);
  color: white;
  height: 100vh;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  /* border: 2px solid red; */
  margin: 0 0 10px 0;
}
.logo-image {
  width: 10em;
  height: 10em;
}
.hero .hero-head {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  background: linear-gradient(to right, #818cf8, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-paragraph {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 10px 0;
  color: #d1d5db;
  text-align: center;
}
section {
  /* border: 2px solid blue; */
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 10px 0;
}
.container {
  /* border: 2px solid green; */
  width: 50%;
}

.container .card .card-header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .card-header #password {
  width: 75%;
  padding: 8px;
  border-radius: 8px;
  height: 3em;
  font-size: 1rem;
  margin: 0 0 10px 0;
  border: none;
  text-align: center;
  background-color: #3c0c64;
  color: white;
}

.container .card .card-header #copy-password,
.container .card .card-header #refresh-password {
  margin: 0 0 10px 0;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.container .card .card-header #refresh-password {
  position: relative;
  right: 2em;
  font-size: 1.5rem;
}
.container .card .card-body {
  /* border: 2px solid grey; */
}
.container .card .card-body .card-controls {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 6px;
}

.container .card .card-body .card-controls label {
  margin: 0px 0 10px 0;
  font-size: 1rem;
  font-weight: bold;
}
.container .card .card-body .card-controls .slider {
  width: 100%;
}
.card .card-body .card-checkbox {
  /* border: 2px solid orange; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 0 10px 0;
  width: 400px;
}
.card .card-body .card-checkbox label {
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1rem;
}
.container .card .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  /* border: 2px solid green; */
}
.container .card .card-footer h5 {
  font-size: 1rem;
  margin-right: 3px;
}
.container .card .card-footer #password-strength {
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  border-radius: 6px;
  text-align: center;
  width: fit-content;
}

.footer {
  /* border: 2px solid gold; */
  background-color: rgb(40, 48, 47);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer :nth-child(1) {
  margin-bottom: 0.5rem;
}
.footer a {
  color: rgb(218, 134, 223);
}
