<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Table</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Employee Table</h1>
    <div id="all-employee-container"></div>
    <div id="total-salary"></div>

    <script>
      // Fetching employee data
      const FetchEmployeeData = async () => {
        try {
          const response = await fetch("./employee.json");
          return await response.json();
        } catch (error) {
          console.error(`Error fetching employee data: ${error}`);
        }
      };

      FetchEmployeeData().then((data) => {
        // Returning all employees in a table
        const allEmployeeContainer = document.getElementById(
          "all-employee-container"
        );

        let tableHTML = `
        <table>
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Position</th>
              <th>Salary</th>
              <th>Joining Date</th>
            </tr>
          </thead>
          <tbody>
      `;

        // Mapping through all employees and creating table rows
        data.forEach((emp) => {
          tableHTML += `
          <tr>
            <td>${emp.employeeId}</td>
            <td>${emp.name}</td>
            <td>${emp.position}</td>
            <td>$${emp.salary.toLocaleString()}</td>
            <td>${new Date(emp.dateOfJoining).toLocaleDateString()}</td>
          </tr>
        `;
        });

        // Closing table tags
        tableHTML += `
        </tbody>
      </table>
      `;

        // Inserting the complete table into the container
        allEmployeeContainer.innerHTML = tableHTML;

        const totalSalary = data?.reduce((acc, emp) => {
          return acc + emp.salary;
        }, 0);

        const totlal_salary_container = document.getElementById("total-salary");
        totlal_salary_container.innerHTML = `
          <p> Total Salary Given to employee is <strong>$${totalSalary}</strong></p>
        `;
      });
    </script>
  </body>
</html>
