.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
    background: url('/images/errorbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.error-container .error-content {
    text-align: center;
    color: white;
}

.error-container .error-content h1 {
    border-radius: 3rem;
}

.error-icon {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: red;
}

.error-container .error-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.error-container .error-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.error-container .error-content button {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}