.layout-container {
  /* border: 2px solid red; */
  height: 100%;
  margin: 0;
  padding: 24px 28px;
  font-family: Arial, sans-serif;
  background: linear-gradient(20deg, #6f42c1, #696969);
  text-align: center;
  color: white;
}

.layout-container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-button {
  color: #e0e0e0;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.cards-top {
  grid-column: span 3;
}

.cards-button {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* Responsive styles */

@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media screen and (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Three columns for larger screens */
  }
}

@media screen and (max-width: 599px) {
  .title {
    font-size: 24px; /* Smaller font for smaller screens */
  }

  .back-button {
    margin-left: 10px; /* Reduce margin for smaller screens */
  }
}
